{% extends 'base.html.twig' %}
{% block body %}
    <section class="service-wrapper py-3">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
                    <div class="container">Контакты</h2>
                        <b>Отделение наук о Земле
                        Институт водных и экологических проблем
                        Сибирского отделения Российской академии наук
                        ИВЭП СО РАН</b>
                        <p>
                            656038, Алтайский край, город Барнаул, ул. Молодежная, 1, ИВЭП СО РАН<br>
                            телефон: (3852) 66-64-60<br>
                            факс:  (3852) 24-03-96<br>
                            адрес электронной почты:  iwep@iwep.ru<br>
                            www-страница:  http://www.iwep.ru<br>
                        </p>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock %}