{% extends 'base.html.twig' %}
{% block body %}
    <section class="service-wrapper py-3">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
                    <div class="container">
                        <center>
                            <h3>Видовой состав зоопланктона р. Оби в марте 2021 г.</h3>
                        </center>
                        <center>
                            <table width="428" cellspacing="0" cellpadding="7">
                                <tbody>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="314" height="71">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="color: #000000;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Казым-Мыс</span></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Азовы</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Салемал</span></span></span></span></p>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Brachionus angularis&nbsp;Gosse, 1851</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Brachionus calyciflorus&nbsp;calyciflorus Pallas, 1776</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Keratella cochlearis&nbsp;(Gosse, 1851)</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Keratella quadrata&nbsp;(M&uuml;ller, 1786)</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Notholca squamula ( M&uuml;ller, 1786)</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Synchaeta pectinata&nbsp;Ehrenberg, 1832</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span lang="en-US">Chydorus sphaericus&nbsp;(O.F. M&uuml;ller, 1785) s.str</span></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" lang="en-US" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="6">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Eubosmina coregoni&nbsp;Baird, 1857</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span lang="en-US">Cyclops scutifer G. O. Sars, 1863</span></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" lang="en-US" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="7">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Cyclops strenuus&nbsp;strenuus Fischer, 1851</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="bottom" width="314" height="6">
                                        <p class="western" style="orphans: 0; widows: 0;" align="left"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Mesocyclops leuckarti&nbsp;(Claus, 1857)</span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="19">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="18">
                                        <p class="western" style="orphans: 0; widows: 0;" align="center"><span style="font-family: Calibri, serif;"><span style="font-size: small;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>&times;</strong></span></span></span></span></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </center>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock %}