{% extends 'base.html.twig' %}
{% block body %}
    <section class="service-wrapper py-3" xmlns="http://www.w3.org/1999/html">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
                    <div class="container">
                        <center>
                            <h3>Спутниковые данные КА Sentinel-2, ADG (Дата: 21.08.2020)
                            </h3>
                        </center>
                        <center>

                            <p><img style="margin: 10px auto" width="70%" src="/assets/sentinel/adg_21_08_2020.jpg"></p>

                            <p><img style="margin: 10px auto" width="70%" src="/assets/sentinel/map.png"></p>

                        </center>

                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock %}