{% extends 'base.html.twig' %}
{% block body %}
    <section class="service-wrapper py-3">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
                    <div class="container">

                        <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/sentinel-2-5"><b>Спутниковые данные КА Sentinel-2</b> концентрация хлорофилла (Дата: 21.08.2020)</a>
                            <h2>

                        <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/sentinel-2-4"><b>Спутниковые данные КА Sentinel-2</b> ADG (Дата: 21.08.2020)</a>
                            <h2>


                            <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/sentinel-2-3"><b>Спутниковые данные КА Sentinel-2</b> ADET (Дата: 21.08.2020)</a>
                            <h2>


<h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/sentinel-2-2"><b>Спутниковые данные КА Sentinel-2</b> (Дата: 21.08.2020)</a>
                            <h2>


                        <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/sentinel-2-1"><b>Спутниковые данные КА Sentinel-2</b>, сравнение концентрации взвешенных веществ на одном участке водной поверхности
                                (Даты: 23.08.2018, 21.08.2020)</a>
                            <h2>



                        <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/table-1-salemal">Численность, биомасса и число видов зоопланктона р. Оби в районе пос. Салемал в августе 2020 г.</a>
                        <h2>

                            <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                                <a href="/table-3-zooplancton">Численность, биомасса и число видов зоопланктона Нижней Оби в марте-апреле 2021 г.</a>
                                <h2>


                            <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                                <a href="/table-2-zooplancton">Видовой состав зоопланктона р. Оби в марте 2021 г.</a>
                                <h2>
                        <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/tacsonametrosheskiy-sostav">Таксономический состав и количество фитобентоса на участках р. Обь у с. Азовы, с. Казым-Мыс и с. Салемал, август-сентябрь 2021 г.</a>
                        <h2>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock %}