{% extends 'base.html.twig' %}
{% block body %}
    <section class="service-wrapper py-3">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
                    <div class="container">
                        <h3>
                            Таксономический состав и количество фитобентоса на участках р. Обь у с. Азовы, с. Казым-Мыс и с. Салемал, август-сентябрь 2021 г.
                        </h3>
                        <p>
                            <b>Материал и методы.</b> Наблюдения проводили 25 августа - 2 сентября 2021 г. Фитобентос собирали на трех створах: выше с. Азовы, выше с. Казым‒Мыс и выше с. Салемал. В соответствии с закономерностями формирования русла рек северного полушария правый берег Оби на исследуемых створах обрывистый, с преобладанием каменистого субстрата, левый ‒ пологий, песчаный, в разной степени заиленный. Поэтому пробы у правого обрывистого берега отобраны с каменистого субстрата
                            (валунно-галечниковые отложения) и коры затопленных деревьев, у левого – с заиленного песка. Методы исследования описаны в предыдущем разделе.
                        </p>
                        <h3>Результаты</h3>
                        <p>
                            Створ «Азовы». В составе фитобентоса обнаружено 63 вида и внутривидовых таксонов (ввт), относящихся к четырем отделам. Ведущую позицию занимали диатомовые водоросли (66,7 % общего состава). Водоросли остальных отделов имели меньшее значение в таксономической структуре: зеленые – 23,8 %, синезеленые (цианопрокариоты) – 7,9 %. Таксономическая принадлежность золотистых водорослей (пустые оболочки) не установлена (см. табл. 2.3.1). Наибольшее число таксонов (56) встречено на коре затопленных деревьев у правого берега, в 2,5 раза меньше – на заиленном песке (23) у левого берега. Если не учитывать диатомовые водоросли, встреченные в виде пустых створок, то на древесине вегетировало 49 ввт водорослей, на песке – 11 ввт.
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock %}