{% extends 'base.html.twig' %}
{% block body %}
    <section class="service-wrapper py-3">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
                    <div class="container">
                        <h2 class="m-data-h banner-heading h2 pb-5 typo-space-line-center">
                            <a href="/tacsonametrosheskiy-sostav">Таксономический состав и количество фитобентоса на участках р. Обь у с. Азовы, с. Казым-Мыс и с. Салемал, август-сентябрь 2021 г.</a>
                        <h2>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock %}