{% extends 'base.html.twig' %}
{% block body %}
    <section class="service-wrapper py-3">
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
                    <div class="container">
                        <table
                                id="table"
                                data-search="true"
                                data-show-columns="true"
                                data-show-multi-sort="true"
                                data-filter-control="true"
                                data-sort-priority='[{"sortName": "github.count.forks","sortOrder":"desc"},{"sortName":"github.count.stargazers","sortOrder":"desc"}]'
                                data-url="/get-table-data">
                            <thead>
                            <tr>
                                <th data-field="date" data-sortable="true" data-filter-control="datepicker">Дата</th>
                                <th data-field="parameter.name" data-sortable="true" data-filter-control="select">Параметр</th>
                                <th data-field="value" data-sortable="true">Значение</th>
                                <th data-field="height" data-sortable="true">Горизонт, м</th>
                                <th data-field="station" data-filter-control="select">Станция</th>
                                <th data-field="coordinates" data-sortable="true">Координаты</th>
                                <th data-field="location.title" data-filter-control="select">Место отбора</th>
                            </tr>
                            </thead>
                        </table>

                        <script>
                            // $(function() {
                                $('#table').bootstrapTable()
                            // })
                        </script>


                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}