<div class="container-fluid pb-3">
    <div class="row">
        <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
            <div class="container">
                {% include 'includes/filter.html.twig' %}
                <div id="myDiv" style="width:100%;height:450px;"></div>
                <script>

                    $( "#filter_button" ).click(function() {
                        let filterParameter = $( "#filter_parameter" ).val();
                        let filterLocation = $( "#filter_location" ).val();

                        getPlotData(filterParameter, filterLocation);
                    });

                    function getPlotData(
                        filterParameter,
                        filterLocation
                    ) {
                        $.get('/get-plot-data?parameter=' + filterParameter + '&location=' + filterLocation,
                            function(response) {
                                console.log(response)
                                dataX = response['x'];
                                dataY = response['y'];
                                var trace = {
                                    x: dataX,
                                    y: dataY,
                                    type: "bar"
                                };

                                Plotly.newPlot('myDiv', [trace])
                            }
                        );
                    }

                </script>
            </div>
        </div>
    </div>
</div>
