<!-- Start Service -->
<section class="service-wrapper py-3">
    <div class="container-fluid pb-3">
        {% include 'includes/filter_map.html.twig' %}
        <div class="row">

            <div id="map" style="width: 100%; height: 600px;margin:30px auto;"></div>

        </div>
    </div>

</section>

<script>

	let openStreet = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	});

    var mymap = L.map('map', {
		center: [71.7661, 75.0251],
            zoom: 12,
        layers: [openStreet]
	});

	var baseMaps = {
		"Open street map": openStreet,
        };



	var cities = L.layerGroup();
	L.marker([66.7697777777778, 68.9480555555556]).bindPopup('H - 0,3м <br> T - 16,6&#8451;<br> Цвет - 18').addTo(cities);
	L.marker([66.7823888888889, 68.9604166666667]).bindPopup('H - 0,3м <br> T - 16,6&#8451;<br> Цвет - 18').addTo(cities);
	L.marker([66.7804166666667, 68.9598055555556]).bindPopup('H - 0 <br> T - 16,7&#8451;<br> Цвет - 20<br> Хл - 400').addTo(cities);
	L.marker([66.7775277777778, 68.9600277777778]).bindPopup('H - 0 <br> T - 16,7&#8451;<br> Цвет - 20<br> Хл - 400').addTo(cities);
	L.marker([66.7757222222222, 68.9567777777778]).bindPopup('H - 0 <br> T - 16,8&#8451;<br> Цвет - 19<br> Хл - 250').addTo(cities);
	L.marker([66.7719444444444, 68.9546111111111]).bindPopup('H - 0 <br> T - 16,7&#8451;<br> Цвет - 19<br> Хл - 250').addTo(cities);
	L.marker([66.7834166666667, 68.9608055555556]).bindPopup('H - 0 <br> T - 16,7&#8451;<br> Цвет - 19<br> Хл - 250').addTo(cities);
	L.marker([66.7814444444444, 68.8549444444444]).bindPopup('H - 0 <br> T - 16,7&#8451;<br> Цвет - 19<br> Хл - 250').addTo(cities);

	var overlayMaps = {
		"Экспедиционные данные": cities,
	};

	L.control.layers(baseMaps, overlayMaps).addTo(mymap);


</script>
