<div class="row">
    <div class="service-heading col-12 col-lg-12 text-start float-end light-300">
        <div class="container">
            <table
                    id="table"
                    data-search="true"
                    data-show-columns="true"
                    data-show-multi-sort="true"
                    data-filter-control="true"
                    data-url="/get-table-data"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-show-footer="true"
                    data-pagination="true"
            >
                <thead>
                <tr>
                    <th data-field="date" data-sortable="true" data-filter-control="datepicker">Дата</th>
                    <th data-field="parameter" data-sortable="true" data-filter-control="select"
                        data-filter-strict-search="true"
                        data-filter-custom-search="customSearch"
                        >Параметр</th>
                    <th data-field="value" data-sortable="true">Значение</th>
                    <th data-field="height" data-sortable="true">Горизонт, м</th>
                    <th data-field="station" data-filter-control="select">Станция</th>
                    <th data-field="coordinates" data-sortable="true">Координаты</th>
                    <th data-field="location.title" data-filter-control="select">Место отбора</th>
                </tr>
                </thead>
            </table>

            <script>
                var filterDefaults = {
                    somekey: 'some string value',
                    anotherkey: 'another value'
                };

                $('#table').bootstrapTable();

                function customSearch(text, value, field, data) {

                    return data.filter(function (row) {
                        return value === row.parameter;
                    });
                }
            </script>


        </div>
    </div>
</div>